---
import './TitleDots.css';

const cols = 8;
const rows = 5;
---

<span class="title-dots" aria-hidden="true">
  {
    Array.from({ length: rows }, (_, row) => (
      <span class:list={['title-dots__row', { 'title-dots__row--offset': row % 2 === 1 }]}>
        {Array.from({ length: cols }, () => (
          <span class="title-dots__dot" />
        ))}
      </span>
    ))
  }
</span>
